/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos div caja
.caja{
    border: 3px solid black;
    margin: 2rem;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to top, rgb(254, 173, 23), rgb(101, 205, 101));
    width: 300px;
    height: 300px;
    transition: 5s;
}

.caja:hover{
    transform: rotate(182deg);
} */

.luna{
    width: 30%;
}

.luna img{
    animation-name: girar;
    animation-duration: 20s;
    animation-timing-function: linear;
}

@keyframes luna{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}